on:
  push:
    branches:
      - master

permissions:
  contents: write
  pull-requests: write

name: Run Release Please
jobs:
  release-please:
    runs-on: ubuntu-latest
    steps:
      - uses: google-github-actions/release-please-action@v3
        id: release
        with:
          command: manifest
          token: ${{ secrets.RELEASE_PLEASE_TOKEN }}
          default-branch: master

      # The logic below handles the npm publication:
      - name: Checkout Repository
        if: ${{ steps.release.outputs.releases_created }}
        uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        if: ${{ steps.release.outputs.releases_created }}
        with:
          node-version: 18
          registry-url: 'https://registry.npmjs.org'

      - name: Build Packages
        if: ${{ steps.release.outputs.releases_created }}
        run: |
          npm ci
          npx lerna bootstrap

      - name: Publish to NPM
        if: ${{ steps.release.outputs.releases_created }}
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: |
          npx lerna publish from-package --no-push --no-private --yes
